<div class="card">
  <span class="card-bg" style="background-image:url('<%= vinyl.picture %>')"></span>
  <span class="card-gradient"></span>
  <span class="card-category">#</span>
  <span class="card-text">
    <h2><%= vinyl.title %></h2>
    <p><%= vinyl.artist %></p>
    <p><%= vinyl.price %> €</p>
  </span>
  <span class="card-user">
    <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
  </span>
  <%= link_to "", vinyl_path(vinyl), class: "card-link" %>
</div>
