<%= simple_form_for(@vinyl) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :artist %>
    <%= f.input :price %>
    <%= f.input :genre %>
    <%= image_tag @vinyl.picture.url(:thumb) %>
    <%= f.input :picture %>
    <p>Add tracks</p>
    <%= f.simple_fields_for :tracks do |track| %>
      <%= render 'track_fields', :f => track %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add track', f, :tracks, class: "btn btn-default" %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary"  %>
  </div>
<% end %>
