<%= simple_form_for(@vinyl) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :artist %>
    <%= f.input :price %>
    <%= f.input :genre %>
    <%= image_tag @vinyl.picture.url(:thumb) %>
    <%= f.input :picture %>
    <%= f.simple_fields_for :tracks do |p| %>
      <%= p.input :title %>
      <%= p.input :duration %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary"  %>
  </div>
<% end %>
