<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_tag vinyls_path, method: :get do %>
      <%= text_field_tag :artist, nil, placeholder: 'artist' %>
      <%= text_field_tag :title, nil, placeholder: 'title' %>
      <%= text_field_tag :city, nil, placeholder: 'city' %>
      <%= submit_tag "Find a vinyl", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
