<div class="row">
  <div class="col-sm-12 col-sm-offset-1">
        <div id="search">
          <%= form_tag vinyls_path, method: :get do %>
            <%= text_field_tag :search, nil, placeholder: 'Search vinyl', class:"input" %>
            <%= text_field_tag :address, nil, placeholder: 'Location', id:'user_input_autocomplete_address' %>
            <%= text_field_tag :startdate, nil, placeholder: 'From' %>
            <%= text_field_tag :enddate, nil, placeholder: 'To' %>

            <%= submit_tag "Find a vinyl", class:"searchbtn" %>
          <% end %>
        </div>
  </div>
</div>

