<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-xs-3">
          <%= image_tag @vinyl.picture.url(:medium), class: "image-container" %>
        </div>
        <div class="col-xs-9">
          <h3>Artist: <%= @vinyl.artist %></h3>
          <h3>Title: <%= @vinyl.title %></h3>
          <p><%= @vinyl.genre %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <h2>Tracks</h2>
          <table class="table">
            <thead>
              <tr>
                <td><strong>Title</strong></td>
                <td><strong>Duration</strong></td>
              </tr>
            </thead>
            <tbody>
          <% @vinyl.tracks.each do |track| %>
            <%= render 'tracks', track: track %>
          <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="ownercard">
        <div class="col-xs-4">
        <span>
          <img src="<%= @vinyl.user.picture.url(:medium) %>" class="ownercard-pic avatar-large"/>
        </span>
        </div>
        <div class="col-xs-8">
          <div class="ownercard-text">
            <h1><%= @vinyl.user.email %></h1>
            <p><%= @vinyl.address %></p>
          </div>
        </div>
      </div>
      <div>
        <div class="bookingcard">
          <div class="bookingcard-price-bg">
            <p class="bookingcard-price-number"><strong> <%= @vinyl.price %>€ </strong></p>
            <p class="bookingcard-price-perday">per day</p>
          </div>
          <div class="bookingcard-form">
            <%= render 'shared/form' %>
          </div>
          <div>
            <%= @booking.price %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


