<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-xs-3">
          <%= image_tag @vinyl.picture.url(:medium), class: "image-container" %>
        </div>
        <div class="col-xs-9">
          <h3>Artist: <%= @vinyl.artist %></h3>
          <h3>Title: <%= @vinyl.title %></h3>
          <p><%= @vinyl.genre %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <h2>Tracks</h2>
          <table class="table">
            <thead>
              <tr>
                <td><strong>Title</strong></td>
                <td><strong>Duration</strong></td>
              </tr>
            </thead>
            <tbody>
          <% @vinyl.tracks.each do |track| %>
            <%= render 'tracks', track: track %>
          <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <span>
        <img src="<%= @vinyl.user.picture.url(:medium) %>" class="avatar-large"/>
      </span>
      <div>
        <div class="panel">
          <div class="text-center">
            <p><%= @vinyl.price %>€ / j</p>
          </div>
          <div>
            <%= render 'shared/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers([
            { "lat": 48.8426531, "lng": 2.3248288 },
            { "lat": 48.8718757, "lng": 2.3500763 },
            { "lat": 48.8755557, "lng": 2.3768895 },
            { "lat": 48.8529369, "lng": 2.364178  }
          ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  </script>
<% end %>
