<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <h1>Edit your profile</h1>

    <%= simple_form_for(@user) do |f| %>
      <%= f.input :email %>
      <%= image_tag current_user.picture.url(:thumb) %>
      <%= f.input :picture %>

      <%= f.button :submit, "Update" %>
    <% end %>
    <%= link_to "Change password", edit_user_registration_path %>

  </div>
</div>
